* {
  background-color: rgb(249, 249, 251);
}

body {
  color: black;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  margin: 15px auto;
  width: 860px;
}

#brand_statement {
  margin: 0px 10;
}

img {
  max-width: 70%;
  width: auto;
  height: auto;
}

#header {
  margin-left: 13.5em;
}

#portrait {
  margin-left: 8em;
}

#projects {
  margin-left: -1.1em;
}

a:hover {
    background-color: #77D3F2;
}

ul {
  list-style: none;
  padding: 0;
}

th {
  font-weight: normal;
  padding: 5px 0;
  text-align: left;
  vertical-align: top;
  width: 150px;
}

td {
  padding: 5px 0;
}

.skills {
  columns: 100px 3;
  break-inside: ;
}
