* {
  background-color: rgb(249, 249, 251);
}

body {
  color: black;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  max-width: 860px;
  margin: 15px auto;
}

.brand_statement {
  display: inline;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left: 110px;
  text-align: center;
}

img {
  display: inline;
  max-width: 70%;
  /*width: auto;
  height: auto;*/
}

span.nickname {
  font-size: 50%;
}

h1.full_name {
  display: inline;
  text-align: center;
  /*width:*/
  /*margin-left: 13.5em;*/
}



a:hover {
    background-color: #77D3F2;
}

ul {
  list-style: none;
  padding: 0;
}

th {
  font-weight: normal;
  padding: 5px 0;
  text-align: left;
  vertical-align: top;
  width: 150px;
}

td {
  padding: 5px 0;
}

.skills {
  columns: 100px 3;
  /*break-inside: ;*/
}
