body {
  color: black;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  margin: 15px auto;
  width: 860px;
}

a:hover {
    background-color: #77D3F2;
}

ul {
  list-style: none;
  padding: 0;
}

th {
  font-weight: normal;
  padding: 5px 0;
  text-align: left;
  vertical-align: top;
  width: 150px;
}

td {
  padding: 5px 0;
}
